.Home {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.SearchBar {
    display: flex;
    gap: 20px;
    padding-top: 50px;
    width: 100%;
}

.SearchBar Form {
    display: flex;
    gap: 20px;
}

.SearchBar .SearchContainer {
    width: 278px;
    height: 57px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    gap: 2px;

    padding: 3px 0 0 22px;

    border-radius: 20px;
    background: rgba(255, 255, 255, 0.20);
    border: none;
}

.SearchBar .SearchLabel {
    display: flex;
    width: 133px;
    height: 18px;
    
    color: rgba(0, 0, 0, 0.40);
    font-size: 10px;
    font-weight: 400;
}

.SearchBar .SearchContainer:hover,
.SearchBar .SearchContainer:focus-within {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.20);
}

.SearchBar .SearchContainer .SearchInput {
    background: none;
    border: none;
    padding-left: 0;
    height: 18px;

    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.SearchBar .SearchContainer .SearchInput:focus {
    box-shadow: none;
}

.SearchBar .SearchButton {
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #6c40b5;
    border: none;

    color: #ffffff;
}

.SearchBar .SearchButton .SearchIcon {
    width: 100%;
    height: 100%;
}

.SearchBar .SearchButton:hover,
.SearchBar .SearchButton:active {
    opacity: 0.8;
}

.SearchBar .SearchButton:hover .SearchIcon,
.SearchBar .SearchButton:active .SearchIcon,
.SearchBar .SearchButton:where(.css-dev-only-do-not-override-p7e5j5).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover,
.SearchBar .SearchButton:where(.css-dev-only-do-not-override-p7e5j5).ant-btn-default:not(:disabled):not(.ant-btn-disabled):active {
    color: #ffffff;
}