.Home {
    flex: 1;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
}

.SearchResult {
    margin-top: 112px;
    width: calc(100% - 80px);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 40px 0px 40px;

    border-radius: 40px 40px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px);
}

.SearchResult img {
    position: absolute;
    right: 0;
    top: -100px;
    width: 300px;
    object-fit: cover;
}

.SearchResult .CurrentSearchContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
}

.full-column {
    grid-column: 1 / -1;
}

.MainTemp {
    color: #6C40B5;
    font-size: 100px;
    font-weight: 600;
}

.CityCountryText {
    color: #666;
    font-weight: 700;
}

.OtherWeatherDetails {
    color: #666;
}

.ErrorText {
    color: #f00;
    text-transform: capitalize;
    text-align: center;
}

.SearchHistory {
    padding: 20px 20px 0 20px;
    flex: 1;
    border-radius: 24px 24px 0 0;
    background: rgba(255, 255, 255, 0.20);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.SearchHistory > span {
    padding: 8px 0;
}