.SearchBar {
    display: flex;
    gap: 20px;
    padding-top: 50px;
    width: 100%;
}

.SearchBar Form {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.SearchBar Form .ant-form-item {
    flex: 1;
}

.SearchBar .SearchContainer {
    min-width: 220px;
    width: auto;
    height: 57px;

    display: flex;
    flex-direction: column;
    gap: 2px;

    padding: 3px 0 0 22px;

    border-radius: 20px;
    background: rgba(255, 255, 255, 0.20);
    border: none;
}

.SearchBar .SearchLabel {
    display: flex;
    width: 133px;
    height: 18px;
    
    color: rgba(0, 0, 0, 0.40);
    font-size: 10px;
    font-weight: 400;
}

.SearchBar .SearchContainer:hover,
.SearchBar .SearchContainer:focus-within {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.20);
}

.SearchBar .SearchContainer .SearchInput {
    background: none;
    border: none;
    padding-left: 0;
    height: 18px;

    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.SearchBar .SearchContainer .SearchInput:focus {
    box-shadow: none;
}

.SearchBar .SearchContainer .SearchSelect .ant-select-selector {
    padding-left: 0;
}

.SearchBar .SearchContainer .SearchSelect:where(.css-dev-only-do-not-override-p7e5j5).ant-select-single .ant-select-selector .ant-select-selection-search {
    inset-inline-start: 0;
    inset-inline-end: 0;
}

.SearchBar .SearchContainer .SearchSelect:where(.css-dev-only-do-not-override-p7e5j5).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: none;
    box-shadow: none;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-select-dropdown {
    background-color: rgba(255, 255, 255, 0.50);
    width: 242px !important;
    top: 115px !important;
}

.SearchBar form .ant-form-item {
    margin-bottom: 0;
}

.SearchBar .SearchButtonContainer {
    display: flex;
    gap: 20px;
}

.SearchBar .SearchButtonContainer .SearchButton {
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #6c40b5;
    border: none;

    color: #ffffff;
}

.SearchBar .SearchButtonContainer .SearchButton .SearchIcon {
    width: 100%;
    height: 100%;
}

.SearchBar .SearchButtonContainer .SearchButton:hover,
.SearchBar .SearchButtonContainer .SearchButton:active {
    opacity: 0.8;
}

.SearchBar .SearchButtonContainer .SearchButton:hover .SearchIcon,
.SearchBar .SearchButtonContainer .SearchButton:active .SearchIcon,
.SearchBar .SearchButtonContainer .SearchButton:where(.css-dev-only-do-not-override-p7e5j5).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover,
.SearchBar .SearchButtonContainer .SearchButton:where(.css-dev-only-do-not-override-p7e5j5).ant-btn-default:not(:disabled):not(.ant-btn-disabled):active {
    color: #ffffff;
}